<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <StackPanel>
    <TextBox Width="300" Height="30" Name="Valor"
             KeyDown="OnKeyDownHandler"/>
  </StackPanel>
</configuration>